// ==============================
// Header
// ==============================

.header {
  @include clearfix;
  padding: 10px 20px;
  background: #fff;
  margin-bottom: 10px;
  @import '_header/logo';
  @import '_header/menu';
}


@include max-screen() {
  .header {
    padding: 50px 0 0;
    text-align: center;
  }
}
