// ==============================
// Post
// ==============================

.posts {
  margin-bottom: $post-list-margin-bottom;
  border-bottom: $post-border;
}

.post {
  padding: $post-padding;
  &:hover{
    .post-from{
      background-color: #42b983 !important;
    }
    .post-content{
      blockquote{
        border-left: 3px solid rgb(66,185,131) !important;
      }
    }
    .read-more-link{
      color: #42b983 !important;
      transform: translate(0, -1px) !important;
      border-bottom: 0 !important;
    }
  }

  & + .post {
    border-top: $post-border;
  }

  @import '_post/header';
  @import '_post/toc';
  @import '_post/content';
  @import '_post/copyright';
  @import '_post/reward';
  @import '_post/footer';
}